<?xml version="1.0"?>
<configuration>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	
	
	<!--<system.web>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Methods" value="*"/>
				<add name="Access-Control-Allow-Headers" value="Content-Type"/>
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<rule name="Flexy Angular Routes" stopProcessing="true">
					<match url="flexy/(.*)"/>
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="/2022/Flexy_TomerMarah/client-student/flexy/"/>
				</rule>
				<rule name="Flexy-manager Angular Routes" stopProcessing="true">
					<match url="flexy-manager/(.*)"/>
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="/2022/Flexy_TomerMarah/client-manager/flexy-manager/"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>-->

	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Methods" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<rule name="Angular Routes" stopProcessing="true">

					<match url=".*" />

					<conditions logicalGrouping="MatchAll">

						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />

						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />

					</conditions>

					<action type="Rewrite" url="/client/" />

				</rule>
			</rules>
		</rewrite>
	</system.webServer>


</configuration>